.post-container {
    display: flex;
    flex-wrap: wrap;
}





.card {
    width: 300px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    margin: 10px;
    position: relative;
    font-family: sans-serif;
}


.btn{
    display: block;
    width: 150px;
}